In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
from scipy import stats

In [16]:
df = pd.read_csv('diabetes.csv')

In [17]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [18]:
# calculate the mean and the standard deviation of the glucose column
glucose_mean = df['Glucose'].mean()
glucose_std = df['Glucose'].std()

In [19]:
print(f'Mean of glucose: {glucose_mean}')
print(f'Standard deviation of glucose: {glucose_std}')

Mean of glucose: 120.89453125
Standard deviation of glucose: 31.97261819513622

In [20]:
# calculate the z-score for glucose level of 168 (using the manual method)
glucose_value = 168
z_score_168_manual = (glucose_value - glucose_mean) / glucose_std
print(f'Z-score for the glucose level of 168 (manual calculation : {z_score_168_manual})')

Z-score for the glucose level of 168 (manual calculation : 1.4733065794769926)

In [21]:
# calculate z-score using the z-score function
df['Glucose_zscore'] = zscore(df['Glucose'])
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Glucose_zscore
0,6,148,72,35,0,33.6,0.627,50,1,0.848324
1,1,85,66,29,0,26.6,0.351,31,0,-1.123396
2,8,183,64,0,0,23.3,0.672,32,1,1.943724
3,1,89,66,23,94,28.1,0.167,21,0,-0.998208
4,0,137,40,35,168,43.1,2.288,33,1,0.504055
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,-0.622642
764,2,122,70,27,0,36.8,0.340,27,0,0.034598
765,5,121,72,23,112,26.2,0.245,30,0,0.003301
766,1,126,60,0,0,30.1,0.349,47,1,0.159787
767,1,93,70,31,0,30.4,0.315,23,0,-0.873019

In [23]:
# find the index where glucose =168
#df['Glucose'] == glucose_value = Returns "True" where Glucose = 168
# df[now gets the actual records for 168]
# .index returns the indices of rows matching this condition
row_index = df[df['Glucose'] == glucose_value].index
row_index

Index([11, 404, 612, 702], dtype='int64')

In [24]:
# Now extracting the first row from glucose_zscore DF where glucose = 168
# hence row_index[0]; remember we have multiple rows matching 168
z_score_168_using_function = df['Glucose_zscore'].iloc[row_index[0]]
print(f"Z-score for the glucose level of 168 (Using function : {z_score_168_using_function})")

Z-score for the glucose level of 168 (Using function : 1.4742667011686503)

In [27]:
# Calculate the percentile for this z-score
percentile_168 = stats.norm.cdf(z_score_168_manual) * 100 # multiply by 100 to get percentage
print(f"Percentile for glucose level of 168: {percentile_168}%")

Percentile for glucose level of 168: 92.96658063066623%

In [28]:
# z_score at 30th percentile
z_score_30 = stats.norm.ppf(0.30)
print(f"Z-score at 30th percentile: {z_score_30}")

Z-score at 30th percentile: -0.5244005127080409

In [30]:
# calculate the corresponding Glucose value for the z-score of the 30th percentile
glucose_value_30 = glucose_mean + z_score_30 * glucose_std
print(f"Glucose value corresponding to 30 th percentile : {glucose_value_30}")

Glucose value corresponding to 30 th percentile : 104.12807387585212

In [31]:
# Given z-score of 2.8, calculate the corresponding glucose level
z_score_given = 2.8
glucose_value_given = glucose_mean + z_score_given * glucose_std
print(f"Glucose value for zscore of 2.8: {glucose_value_given}")

Glucose value for zscore of 2.8: 210.4178621963814

In [32]:
# Calculate the percentile for z-score of 2.8,