In [1]:
import numpy as np
import pandas as pd

In [4]:
# creating a series from the python list
myindex= ['USA','Canada','England']
mydata = [1776,1867,1821]

In [5]:
# Just the numeric data
myser = pd.Series(data=mydata)
myser

0    1776
1    1867
2    1821
dtype: int64

In [6]:
pd.Series(data=mydata, index=myindex)

USA        1776
Canada     1867
England    1821
dtype: int64

In [12]:
ran_data = np.random.randint(0,100,4)
ran_data

array([65, 19, 61, 47])

In [13]:
# creating a series from numpy array
names= ['Alice','Bob','Charles','Dave']
ages = pd.Series(ran_data,names)
ages

Alice      65
Bob        19
Charles    61
Dave       47
dtype: int32

In [14]:
# creating a series from the dictionary
ages = {'Sammy':5,'Frank':10,'Spike':7}
ages

{'Sammy': 5, 'Frank': 10, 'Spike': 7}

In [15]:
pd.Series(ages)

Sammy     5
Frank    10
Spike     7
dtype: int64

In [16]:
# using named index
# imaginary sales data for 1st and 2nd quarters for a global company
q1={'Japan':80,'China':450,'India':200,'USA':250}
q2 = {'Brazil':100,'China':500,'India':210,'USA':260}

In [17]:
sales_Q1 = pd.Series(q1)
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [18]:
sales_Q2 = pd.Series(q2)
sales_Q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [21]:
# called based on named index
sales_Q1['Japan']

80

In [22]:
# integer basd location information also retained
sales_Q1[0]

C:\Users\DAI.STUDENTSDC\AppData\Local\Temp\ipykernel_18940\1229175043.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_Q1[0]

80

In [23]:
# grap just the index keys
sales_Q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [24]:
# can perform opeartions broadcasted across entire series
sales_Q1*2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [25]:
sales_Q1/100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [26]:
# notice how pandas informs you of mismatch with NaN
sales_Q1+sales_Q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [27]:
sales_Q1.add(sales_Q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64